<lib-header></lib-header>
<div class="container">
    <div class="row">
        <div class="col ill">
            <img class="illustration" src="assets/svg/login.svg" alt="Logo">
        </div>
        <div class="col">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-container">
                <p class="logintext">Login</p>
                <div class="input-container">
                    <p>Email</p>
                    <input type="text" formControlName="username" placeholder="youremail@mail.com" required>
                </div>
                <div class="input-container">
                    <p>Password</p>
                    <input type="password" formControlName="password" placeholder="Enter your password" required>
                </div>
                <button>Login</button>
            </div>
        </form>
        </div>
    </div>
</div>
